
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
*{
 box-sizing: border-box;
  color: #1F242D;
}
html{
 height: 100%;
  
}
body{
    display: flex;
    background: #F1F1F1;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
    margin: 0 auto;
    color: #1F242D;
}
.svg{
 width: 45%;
}
.loadContainer{
 color: #1F242D;
 margin: 10px auto;
 text-align: center;
}
.container{
 width: 80%;
 display: flex;
 flex-direction: column;
 border-radius: 8px;
 border: solid 2px #1F242D;
 padding: 24px;
}
.animation-container{
 display: flex;
 margin: 0;
 height: 100px; 
 width: 100%;
 justify-content: center;
 align-items: center;
 display: none;
}
.bar{
 background: #1F242D;
 height: 10%;
 width: 10px;
 border-radius: 50px;
 margin: 0 3px;
 animation: none;
 animation-iteration-count: infinite;
 animation-duration: 1.5s;
}
.one{
 animation-delay: 0s;
}
.two{
 animation-delay: 0.3s;
}
.three{
 animation-delay: 0.6s;
}
.four{
 animation-delay: 0.9s;
}
.five{
 animation-delay: 0.6s;
}
.six{
 animation-delay: 0.3s;
}
.seven{
 animation-delay: 0s;
}
@keyframes animation{
 from{
  height: 20%;
  background: #f1f1f1;
 }
 to{
  height: 100%;
  background: #1F242D;
 }
}
.progress-container{
 width: 100%;
 background: #1F242D80;
 border-radius: 20px;
 height: 4px;
 margin: 10vh auto 20px;
 cursor: pointer;
}
.progress-bar{
 background: #1CC00D;
 width: 0px;
 height: 4px;
 position: relative;
 border-radius: 20px;
 cursor: pointer;
}
.timer{
 margin-bottom: 30px;
 display: flex;
 justify-content: space-between;
 width: 100%;
}
.circle{
 background: #1F242D;
 width: 10px;
 aspect-ratio: 1/1
 border-radius: 50%;
 position: absolute;
 top: 0;
 right: 0;
 transform: translate(1px, -3px);
}
.song-name{
 width: 100%;
 margin: 25px auto;
 text-align: center;
 color: #1F242D;
}
.buttons{
 width: 100%;
 display: flex;
 justify-content: space-between;
 
}
.buttons > button{
 background : none;
 border: 2px solid #1F242D;
 color: #1F242D;
 border-radius: 50%;
 width: 50px;
 aspect-ratio: 1/1;
 outline: none;
 font-size: 1.5rem;
}
.paused{
 display: none;
 color: #2BF7F6;
}
button,.circle {
 cursor: pointer;
}
i{
 color: #1F242D;
}

.link{
 text-decoration: none;
 display: block;
 border: none;
 padding: 10px 5px;
 margin: 1.2rem auto;
 font-size: 2rem;
 text-align: center;
 width: 5rem;
}
.link > i{
 color: #1F242D;
}
.listBtn{
  position: absolute;
  bottom: 0;
  left: 0;
}
.closeListBtn{
  display: none;
  position: absolute;
  right: 0;
  top: 0;
}
.closeListBtn, .listBtn{
  background: none;
  border: none;
  font-size: 3rem;
}
.songList{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 70vh;
  overflow: auto;
  background: #F1F1f1;
  border-radius: 1.2rem 1.2rem 0 0;
  padding: 2rem 1rem 0;
}
@media (max-width: 720px{
.songList{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
}
@media (min-width: 720px){
  body{
    flex-direction: column;
  }
  .songList{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  overflow: auto;
  background: #F1F1f1;
  border-radius: 0;
  padding: 2rem 1rem;
}
}

.songDetails{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  aspect-ratio: 4/1;
  background: #DFE5EC;
  border-radius: 8px;
}
.down{
  color: #212121;
}

#listDownloadBtn{
  color: #212121;
  width: 2px;
}

.songImg{
  width: 70px;
  aspect-ratio: 1/1;
  background: #B4B9BF;
  border-radius: 50%;
}

.songTitle{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

#artistName, #song-name{
  color: #212121;
  margin-block: 0.5rem auto;
}
#song-name{
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}
